
{{ if (default false .Site.Params.cloudFlareAnalytics.enabled) }}
<!-- Cloudflare Web Analytics -->
<script
  defer
  src="https://static.cloudflareinsights.com/beacon.min.js"
  data-cf-beacon='{"token": "{{ .Site.Params.cloudFlareAnalytics.token }}"}'
></script>
<!-- End Cloudflare Web Analytics -->
{{ end }}



{{ if (default false .Site.Params.umamiAnalytics.enabled) }}
<script async defer data-website-id="{{ .Site.Params.umamiAnalytics.webSiteId }}" src="{{ .Site.Params.umamiAnalytics.url }}/umami.js"></script>
{{ end }}
